/* configs basicas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --white:#FFFFFF;
  --black:black;
  --orange:#F48347;
  --gray:#D9D9D9;
  --green:#03391D;

}

*{
  font-family: 'Poppins', sans-serif;
}

/* nav-bar */
.navbar {
    background-color: #000; 
  }

.nav-link-carrinho{
  margin: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 200%;
}

.navbar-titulo{
  color: #fff;
  text-decoration: none;
  margin-left: 4%;
  font-size: 30px;
  font-weight: 800; /* Extrabold */
}

.nav-link{
  color: #fff;
  text-decoration: none;
  font-weight: 700; 
}

.nav-item{
  color: var(--white);
}
/* HOME */
/* intro */
main{
  margin: 5%; 
}

main h1 {
  font-weight: 800; /* Extrabold */
  font-size: 50px;
  border-bottom: #000 ridge 4px;
  padding: 0 0 1% 0;
  width: fit-content; /* Ajusta o tamanho do h1 ao conteúdo */
}

main p{
  font-size: 24px;
}


/* horario */

.sla{
  display: flex;
}

.horario{
  font-weight: 800;
 margin-left: 14%;
  border-left: 7px solid #F48347; 
  padding-left: 10px; 
  display: flex;
  flex-direction: column;
  height: 35%;
}

.horario .pa{
  margin-bottom: 5%;
  font-size: 25px;
}

.horario-h1{
  margin: 10% 0 2% 0; 
  font-weight: 800;
  margin-left: 14%;
  font-size: 40px;

}

.poke{
  height: 25%;
  width: 25%;
  margin: -8% 0 0 20%;
}

/* mapa */
.mapa{
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.mapa .local h1{
  font-weight: 800;
  border-bottom: #000 ridge 4px;
  padding: 0 0 1% 0;
  width: fit-content; /* Ajusta o tamanho do h1 ao conteúdo */
}

.local h1{
  margin: 0 0 7% 0;
}

/* CARDAPIO */

.nav-item-cardapio {
  width: 100%;
  padding: 7% 0; /* tira o padding lateral pra não "encolher" */
  font-size: 24px;
  font-weight: 600;
  border-bottom: 3px solid #fff;
  box-sizing: border-box;
  display: block; /* força ocupar a linha toda */
  text-align: center; /* opcional, se quiser centralizar o texto */
}

.produtos{
  margin-left: 15%;
}

